.header {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #fff;
    min-width: 1400px;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
    width: 100%;
    margin: 0 auto;
}

.header-left img {
    width: 370px;
    height: 36px;
}

.header-form {
    display: inline;
}

.search-form {
    width: 100%;
    max-width: 600px;
}

.search-input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0 16px;
    font-size: 16px;
    box-sizing: border-box;
}

.header-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.header-button {
    background-color: #fff;
    color: #000000;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.alert-success {
    max-width: 680px;
    margin: 16px auto;
    text-align: center;
    background-color: #e6ffed;
    color: #2f855a;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: bold;
}