.form-wrapper {
    width: 100%;
    max-width: 680px;
    margin: 100px auto 0;
    text-align: center;
}

.form-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.form-label {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    text-align: left;
}

.form-input {
    width: 100%;
    max-width: 680px;
    height: 57px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 16px;
    margin-bottom: 32px;
    box-sizing: border-box;
}

.form-button {
    width: 680px;
    height: 65px;
    background-color: #FF5555;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    cursor: pointer;
    margin: 40px auto 0;
    display: block;
}

.form-link {
    display: block;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #0073cc;
    text-align: center;
    text-decoration: none;
}

.form-message {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 1.6;
    text-align: center;
}

.form-button-link {
    display: block;
    width: 680px;
    height: 65px;
    background-color: #FF5555;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto 24px;
}

.form-button-secondary {
    width: 680px;
    height: 65px;
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.form-button,
.form-button-link,
.form-button-secondary {
    width: 100%;
    max-width: 680px;
}

.form-button:hover {
    background-color: #fff;
    border: 1.5px solid #FF5555;
    color: #ff5655;
}

.form-error {
    color: #FF5555;
    font-size: 14px;
    text-align: left;
    margin-top: -24px;
    margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .form-wrapper {
        margin: 60px auto 0;
        padding: 0 20px;
    }

    .form-title {
        font-size: 24px;
    }

    .form-input,
    .form-button,
    .form-button-link,
    .form-button-secondary {
        height: 50px;
        font-size: 16px;
    }
}
